nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-azul-medio);
    padding: 10px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px; 
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.95em;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-family: Arial, sans-serif; 
  text-transform: uppercase;

}

